:root {
  /* --color-primary: #2050e4;
  --color-primary-hover: #0079FF;
  --color-background: #FFFDEA;
  --color-bg-hover: rgba(245, 200, 87, 0.3);
  --color-text: #1f2937; */

  --main-color: #e9ebed;
  --main-soft: #c5c5c6;
  --main-ultrasoft: #F2EBFF;
  --main-hard: #245166;
  --secondary-color: #ffffff;
  --secondary-soft: #32629d;

  --green-line:#46bd7e;
  --yellow-line:#f5d159;
  --orange-line:#ff914d;

  --menu-hover:#32629d;
  --text-color-menu:#ffffff;
  --text-color-menu-hover:#4ee6fa;
  

  --secondary-hard: #c8af15;
  --tertiary-color: #e5f1fa;
  
  --black-color: #090807;
  --variation-color: #555f88;
  --white-color: #ffffff;
  --plumb-soft: #f4f4f9;

  /* --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1; */

}
